#Ping.Liu@PSW.BSP.Fingerprint.Basic, 2017/08/02, Add for keystore access storage
service keystore /system/bin/keystore /data/misc/keystore
    class main
    user keystore
    group keystore drmrpc readproc sdcard_rw sdcard_r
    writepid /dev/cpuset/foreground/tasks
